<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ph.gov.philfida.da.abacaplanddiseasedeteciontapplayout">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_m_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_m_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".otheractivities.ImagePreviewActivity"
            android:theme="@style/NoActionBar"/>
        <activity android:name=".otheractivities.AssesmentActivity"
            android:theme="@style/NoActionBar"/>
        <activity android:name=".AccountDetails" />
        <activity android:name=".DetectorActivity"
            android:theme="@style/NoActionBar"/>
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Diagnose"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Register"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>